*{
    margin: 1px;
    padding: 2px;
}

#cabecalho{
    margin: 0px auto ;
    text-align: center;
    background-color: deepskyblue;
    width: 1500px;
    border: 2px solid black;
}

#cabecalho img{
    width: 15%;
    border: 2px solid blue;
}

#cabecalho h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: crimson;
}

form{
    margin: 30px;    
    padding-left: 20px;
}

form label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    display: block;
}

form input{
    display: block;
    padding-top: 7px;
}

#paragrafo{
    margin-top: 5px;
}

#divFrases{
    margin-top: 12px;
    display: flex;
}

#frases{
    width: 35px;
}

#divProduto{
    margin-top: 80px;
    display: inline-flex;
}

#produto{
    width: 190px;
}

#rodape{
    margin: 0px auto ;
    background-color: deepskyblue;
    width: 1500px;
    height: 70px;
    border: 2px solid black ;
}